.infoBox {
    flex: 1;
    cursor: pointer;
  }
  
  .infoBox:not(:last-child) {
    margin-right: 12px;
  }
  
  .infoBox__cases {
    color: #ff7518;
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
  }

  .infoBox--selected {
    border-top: 12px solid ;
  }

  .infoBox--green {
    border-color: #7dd71d; 
  }
  
  .infoBox--red {
    border-color: #ff4500 
  }
  
  .infoBox--purple {
    border-color: #b452ff;
  }

  .infoBox--blue {
    border-color: #2196F3;
  }

  .infoBox__cases--green {
    color: #7dd71d !important;
  }

  .infoBox__cases--purple {
    color: #b452ff;
  }

  .infoBox__cases--blue {
    color:  #2196F3;
  }
  
  .infoBox__little {
    font-weight: 700 !important;
    font-size: 0.8rem !important;
    margin-top: 15px !important;
  }