.infoBox {
    flex: 1;
    cursor: pointer;
  }
  
  .infoBox:not(:last-child) {
    margin-right: 12px;
  }
  
  .infoBox__cases {
    color: #CC2A10;
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
  }

  .infoBox--selected {
    border-top: 12px solid ;
  }

  .infoBox--green {
    border-color: #7dd71d; 
  }
  
  .infoBox--red {
    border-color: #CC2A10; 
  }
  
  .infoBox--purple {
    border-color: #783D3D;
  }
  .infoBox__cases--green {
    color: #7dd71d !important;
  }

  .infoBox__cases--purple {
    color: #783D3D;
  }
  
  .infoBox__total {
    font-weight: 700 !important;
    font-size: 0.8rem !important;
    margin-top: 15px !important;
  }