.table{
    margin-top: 10px;
    overflow: scroll;
    height: 400px;
    width: 90%;
    margin-left:5%; 
    margin-right:5%;
}

table{
    width: 100%;  
}

.table tr{
    display: flex;
    justify-content: space-between;
}

.table td{
    display: flex;
    padding: 0.5rem;
    align-items: center;
    font-size: 1.1rem
}

.table tbody:nth-of-type(odd){
    background-color: 	#00e0e0;
    color: #592720
}

img{
    padding-right: 0.7rem;
}


@media only screen and (max-width: 600px) {

    .table{
        width: 100%;
        margin-left:0%; 
        margin-right:0%;
    }
   
  }
/* 
  @media only screen and (min-width: 601px) and (max-width: 1200px){

    table{
        width: 100%;
    } 

    .table{
        width: 100%;
        margin-left:0%; 
        margin-right:0%;
    }

  } */